.pricingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;

  .area1 {
    width: 100%;
  }

  .area2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7fff6;
    padding: 80px 20px;

    h1 {
      @include ubuntu-48-bold();
      width: 50%;
      text-align: center;
      margin: 20px 0;
    }

    p {
      @include ubuntu-16-lighter($line-height: 24px);
      text-align: center;
      width: 50%;
      margin: 20px 0;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      text-align: start;
      padding: 5px;
      margin: 10px 0;

      img {
        width: 28px;
        height: auto;
        margin-right: 10px;
      }

      p {
        @include ubuntu-16-lighter($line-height: 24px);
        text-align: start;
        flex: 11;
      }
    }

    a {
      @include button-or-a($type: "light");
      width: 200px;
    }
  }

  .area3 {
    width: 100%;
  }

  .area5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 20px;

    h1 {
      @include ubuntu-48-bold();
      text-align: center;
      width: 50%;
      margin: 20px 0 80px 0;
    }

    .priceBar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-shadow: rgba($color: #000, $alpha: 0.1) 0px 10px 15px;
        border-radius: 20px;
        h2 {
          @include ubuntu-36-normal();
          text-align: center;
          margin: 20px 0;
        }

        h3 {
          @include ubuntu-48-bold();
          text-align: center;
          margin: 20px 0;
        }

        div {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          margin: 20px 0;
          padding: 10px;
          box-shadow: rgba($color: #000, $alpha: 0.1) 0px 0px 0px;

          div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 5px 0;
            padding: 5px;

            div {
              width: 10px;
              height: 10px;
              border-radius: 10px;
              background-color: #029837;
              margin-right: 5px;
            }

            p {
              @include ubuntu-14-lighter($line-height: 21px);
            }
          }
        }

        button {
          @include button-or-a($type: "dark");
          padding-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pricingPage {
    .area2 {
      h1 {
        width: 65%;
      }

      p {
        width: 65%;
      }

      div {
        width: 65%;
      }
    }

    .area5 {
      h1 {
        width: 65%;
      }
    }
  }
}

@media (max-width: 900px) {
  .pricingPage {
    .area2 {
      h1 {
        @include ubuntu-36-bold();
      }
    }

    .area5{
      h1{
        @include ubuntu-36-bold();
      }
    }
  }
}

@media (max-width: 768px) {
  .pricingPage {
    .area2 {
      h1 {
        @include ubuntu-36-bold();
        width: 80%;
      }

      p {
        width: 80%;
      }

      div {
        width: 80%;
      }
    }

    .area5 {
      h1 {
        @include ubuntu-36-bold();
        width: 80%;
      }

      .priceBar {
        flex-direction: column;

        div {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .pricingPage {
    .area2 {
      h1 {
        @include ubuntu-24-bold();
      }

      p {
        @include ubuntu-14-lighter();
      }

      div {
        p {
          @include ubuntu-14-lighter();
        }
      }
    }

    .area5 {
      h1 {
        @include ubuntu-24-bold();
      }
    }
  }
}
